<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pau.talaya">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".FiltreCerca">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />

        </activity>
        <activity android:name=".form_login">
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".home" android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name=".DescCasa">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />

        </activity>
        <activity
            android:name=".DinsConversa"
            android:label="@string/title_activity_dins_conversa"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDgj2AFqV2TzIaysIU8rdZGlthQD4Lg6lI"/>

    </application>

</manifest>